<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_14_WPF_ZooManager.Properties.Settings.PunjututorialDBConnectionString"
            connectionString="Data Source=BG1494\MSSQLSERVER1494;Initial Catalog=PunjututorialDB;Persist Security Info=True;User ID=sa;Password=usecorrectpw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>